/* /* funcionamiento básico del sistema de pestañas */
/*:root {
  --tabs-border-color: #ABCDEF;
  --tabs-border-size: 3px;
  --tabs-text-color: white;
  --tabs-dark-color: #012345;
  --tabs-lite-color: #345678;
  --tabs-width:10em;
  --tabs-height: 40px;
}*/
/* aspecto básico */
/*body {
  font-family: sans-serif;
  line-height: 1.2;
}
h2, p {
  margin: 0;
} 
a {
  color: inherit;
  text-decoration: none;
} 
.tabs * {
  box-sizing: border-box;
}
.tab_content {
  display: none;
}

.tab:target .tab_content, .tab:last-of-type .tab_content {
  display: block;
}

.tab:target ~ .tab:last-of-type .tab_content {
  display: none;
}
*/


/*--  ---------------------------------*/
/* body {
  font-family: sans-serif;
  line-height: 1.2;
}
h2, p {
  margin: 0;
} 
a {
  color: inherit;
  text-decoration: none;
} 
.tabs * {
  box-sizing: border-box;
}
 */
/*----------------------------------------------------------------*/
/*
 .tab_container {
 
  position:relative;
  padding-top: var(--tabs-height); /* en esta zona colocaremos las pestañas */
/* } 
#tab1>a { --tabs-position: 0; }
#tab2>a { --tabs-position: 1; }
#tab3>a { --tabs-position: 2; }
#tab4>a { --tabs-position: 3; }
#tab5>a { --tabs-position: 4; }
#tab6>a { --tabs-position: 5; }
#tab7>a { --tabs-position: 6; }
#tab8>a { --tabs-position: 7; }
#tab9>a { --tabs-position: 8; }
.tab>a {
  text-align: center;
  position: absolute;
  width:calc(var(--tabs-width));
  height: calc(var(--tabs-height) + var(--tabs-border-size)); 
  top: 0;
  left: calc(var(--tabs-width) * var(--tabs-position)); /* posición de cada pestaña */
/*} 
/*----------------------------------------------------------------*/
/*.tabs { 
  padding: 10px;
  color: var(--tabs-text-color);
}
.tab_content {

  background-color: var(--tabs-lite-color); 
  padding: 20px;
  border: var(--tabs-border-size) solid var(--tabs-border-color);
  border-radius: 0 0 10px 10px;
  position: relative;
  z-index: 100;
}
.tab>a {
  background-color: var(--tabs-dark-color); 
  padding: 13px;
  border: var(--tabs-border-size) solid var(--tabs-border-color);
  border-radius: 10px 10px 0 0;
  border-bottom: 0;
}
.tab:target>a, .tab:last-of-type>a {
  background-color: var(--tabs-lite-color); 
  z-index: 200;
}
.tab:target ~ .tab:last-of-type>a {
  background-color: var(--tabs-dark-color); 
  z-index: 0; 
}

 */




.cards {
    flex-wrap: wrap;
    background-attachment: fixed;
    text-decoration: none;
    align-items: flex-end;
    text-align: center;

  }
  .containerCard1{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
  }
  .containerCard {
    display: flex;
    position:relative;
    /*width: 177px;
  height: 150px;
  left: 40px;
  top: 200px;*/
  flex-wrap: wrap;
    text-decoration: none;
    align-items: center;

    text-align: center;
    /*
    color: rgb(196, 213, 228);
    border-color: rgb(32, 80, 0);
  
    border-radius: 5%;
    border-style: solid;
    border-width: 5px;
  
    background-color: rgb(18, 19, 18);
    */
    padding: 0.5em;
  
    transition: transform 1s; 
  }
 /* .containerCard:hover {  
  
    transform:scale(3);
     transition: transform 1s; 
     align-self: auto;
     
     width: 10rem;
     height: 10rem;
     margin-left: auto;
     margin-right: auto;

     
   
     
   }
   
 
   
   .Ease-Out{
     -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
     transition: all 0.5s ease-out;
 
   }
   */

.Body{position: relative;
    width: 1280px;
    height: 720px;


/* fondo1 */

background: linear-gradient(163.28deg, rgba(206, 225, 236, 0.96) 2.17%, rgba(219, 83, 255, 0.96) 96.14%);
}
.Encabezado{
/*position: absolute;*/
width: 1280px;
height: 174px;
left: 0px;
top: 0px;

/* fondoHeader */

background: conic-gradient(from 180deg at 50% 50%, #FF8A00 0deg, rgba(193, 64, 239, 0.96) 228.75deg, #FF8A00 360deg);
border-radius: 0px 0px 23px 23px;


font-family: 'Comic Sans MS';
font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 67px;
/* identical to box height */

text-align: center;

color: #000000;
}

.FotoItem{
    position: absolute;
width: 177px;
height: 127px;
left: 40px;
top: 217px;

/*background: url(https://unsplash.com/es/fotos/-YHSwy6uqvk);*/
}





/*----------------------------------------------------------------*/
.transition{
    width: 150px;
    height: 70px;
    background-color: #ddd;
    margin: 5px;
  }
  
  .transition:hover{
    width: 300px;
    height: 140px;
    background-color: #333;
  }
  

  
  .Ease-Out{
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -ms-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
  }
  .botonNuevaComanda{
   
position: absolute;
width: 240px;
height: 62px;
left:1270px;
top: 175px;
    background: linear-gradient(92.33deg, #29BC1C 11.92%, rgba(28, 188, 178, 0.77) 83.97%);
    border: 4px solid #107E1B;
    border-radius: 23px;
    
    
    /* Subtitulo */
    
    
    
    
    font-family: 'Comic Sans MS';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    /* identical to box height */
    
    text-align: center;
    
    color: #000000;

  }
  .botonNuevoItem{
   
    position: absolute;
    width: 278px;
    height: 60px;
    left: 993px;
    top: 616px;
        background: linear-gradient(92.33deg, #29BC1C 11.92%, rgba(28, 188, 178, 0.77) 83.97%);
        border: 4px solid #107E1B;
        border-radius: 23px;
        
        
        /* Subtitulo */
        
        
        
        
        font-family: 'Comic Sans MS';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height */
        
        text-align: center;
        
        color: #000000;
    
      }
    