.cards {
    flex-wrap: wrap;
    background-attachment: fixed;
    text-decoration: none;
    align-items: flex-end;
    text-align: center;
  }
  .containerCard1{
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
  }
  .containerCard {
    display: flex;
    position:relative;
    /*width: 177px;
  height: 150px;
  left: 40px;
  top: 200px;*/
  flex-wrap: wrap;
    text-decoration: none;
    align-items: center;

    text-align: center;
    /*
    color: rgb(196, 213, 228);
    border-color: rgb(32, 80, 0);
  
    border-radius: 5%;
    border-style: solid;
    border-width: 5px;
  
    background-color: rgb(18, 19, 18);
    */
    padding: 0.5em;
  
    transition: transform 1s; 
  }
 /* .containerCard:hover {  
  
    transform:scale(3);
     transition: transform 1s; 
     align-self: auto;
     
     width: 10rem;
     height: 10rem;
     margin-left: auto;
     margin-right: auto;

     
   
     
   }
   
 
   
   .Ease-Out{
     -webkit-transition: all 0.5s ease-out;
     -moz-transition: all 0.5s ease-out;
     -ms-transition: all 0.5s ease-out;
     -o-transition: all 0.5s ease-out;
     transition: all 0.5s ease-out;
 
   }
   */

.Body{position: relative;
    width: 1280px;
    height: 720px;


/* fondo1 */

background: linear-gradient(163.28deg, rgba(206, 225, 236, 0.96) 2.17%, rgba(219, 83, 255, 0.96) 96.14%);
}
.Encabezado{
/*position: absolute;*/
width: 1280px;
height: 174px;
left: 0px;
top: 0px;

/* fondoHeader */

background: conic-gradient(from 180deg at 50% 50%, #FF8A00 0deg, rgba(193, 64, 239, 0.96) 228.75deg, #FF8A00 360deg);
border-radius: 0px 0px 23px 23px;


font-family: 'Comic Sans MS';
font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 67px;
/* identical to box height */

text-align: center;

color: #000000;
}

.FotoItem{
    position: absolute;
width: 177px;
height: 127px;
left: 40px;
top: 217px;

/*background: url(https://unsplash.com/es/fotos/-YHSwy6uqvk);*/
}





/*----------------------------------------------------------------*/
.transition{
    width: 150px;
    height: 70px;
    background-color: #ddd;
    margin: 5px;
  }
  
  .transition:hover{
    width: 300px;
    height: 140px;
    background-color: #333;
  }
  

  
  .Ease-Out{
    -webkit-transition: all 3s ease-out;
    -moz-transition: all 3s ease-out;
    -ms-transition: all 3s ease-out;
    -o-transition: all 3s ease-out;
    transition: all 3s ease-out;
  }
  
