.cocina-body{position: relative;
    width: 1280px;
    height: 720px;


/* fondo1 */

background: linear-gradient(163.28deg, rgba(206, 225, 236, 0.96) 2.17%, rgba(219, 83, 255, 0.96) 96.14%);
}
.cocina-encabezado{
position: absolute;
width: 1280px;
height: 174px;
left: 0px;
top: 0px;

/* fondoHeader */

background: conic-gradient(from 180deg at 50% 50%, #FF8A00 0deg, rgba(193, 64, 239, 0.96) 228.75deg, #FF8A00 360deg);
border-radius: 0px 0px 23px 23px;


font-family: 'Comic Sans MS';
font-style: italic;
font-weight: 700;
font-size: 48px;
line-height: 67px;
/* identical to box height */

text-align: center;

color: #000000;
}

.Mesas-tablaItems-Cocina{
        position: relative;
    width: 1196px;
    height: 371px;
    top: 214px;
    background: #E1FF2B;
    border-radius: 23px;
    }